{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="main-row row no-gutters align-items-center">
            <div class="col content">
                <header>
                    <h1>Ops...</h1>
                    <p class="lead">Recurso não encontrado.</p>
                </header>
                <div class="form-footer">
                    <a href="/" class="btn btn-outline-info">Voltar para home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}