<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Vacation Planner</title>
    <link rel="stylesheet" href="/static/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="/static/js/vendors/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vendors/popper.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js?v=1"></script>
</body>
</html>